<h1>Agora</h1>

<%= link_to 'Registrations', registrations_path %>
<%= link_to 'Emails', emails_path %>
<%= link_to 'Stations', stations_path %>

<div id="alerts">
<h3>System Alerts</h3>
  <% @system_alerts.each do |alert| %>
    @ <%= alert.created_at%> [<%= alert.alert_id%>] <%= alert.alert_content %>
    <br>
  <% end %>
</div>
