<h1>Agora</h1>

<%= link_to 'Aircrafts', aircrafts_path %>
<%= link_to 'Emails', emails_path %>
<%= link_to 'Stations', stations_path %>
<%= link_to 'Users', administrators_path %>

<div id="alerts">
<h3>System Alerts</h3>
  <% @system_alerts.each do |alert| %>

    <% css_class = if alert.alert_id < 2000
                   "alert alert-success"
                 elsif alert.alert_id > 1999 && alert.alert_id < 3000
                   "alert alert-warning"
                 else
                   "alert alert-danger"
                 end %>

    <div class="<%= css_class %>" role="alert">
      @ <%= alert.created_at%> [<%= alert.alert_id%>] <%= alert.alert_content %>
    </div>
  <% end %>
</div>

<div>
  <%= button_to 'Remove all log entries and reset the log', destroy_all_system_alerts_path, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
